.container {
  &_header {
    background-color: #f3f3f3;
    position: relative;
    display: flex;
    background-color: #ffff;
    justify-content: space-between;
    align-items: center;
    padding: 80px 260px 80px 260px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    &_headerText {
      font-size: 36px;
      font-weight: 700;
      font: normal normal 600 36px/48px Segoe UI;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
    }
    &_settings {
      background-color: #c6c6c6;
      padding: 20px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      position: absolute;
      left: 180px;
      top: 155px;
    }
  }

  &_content {
    margin: 0 auto;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    &_fcolumn {
      &_img {
        height: 200px;
        width: 200px;
      }
      &_uploadtext {
        color: #b0acac;
        font-size: 14px;
      }
      &_email {
        font-size: 14px;
      }
      &_button {
        background-color: #7e7ef1;
        width: 200px;
        height: 50px;
        color: #ffffff;
        font-weight: 700;
        border: #7e7ef1;
        border-radius: 25px;
        margin-top: 50px;
      }
    }
    &_scolumn {
      position: relative;

      &_switcher {
        position: absolute;
      }

      &_header {
        font-size: 36px;
      }
      &_infosec {
        margin-top: 50px;
      }
      &_info {
        font-size: 12px;
        color: #33a3dc;
        text-align: left;
        margin-top: 20px;
        max-width: 180px;
        margin: 0 auto;
      }
      &_input {
        border: none;
        outline: none;
        margin-top: 10px;
        border-bottom: 2px solid #707070;
        margin-bottom: 20px;
      }
      &_button {
        background-color: #44a0d3;
        width: 200px;
        height: 50px;
        color: #ffffff;
        font-weight: 700;
        border: #44a0d3;
        border-radius: 25px;
        margin-top: 50px;
      }
    }
  }
}
