.addbtn {
  position: absolute;
  top: -35px;
  left: 45px;
  background-color: #305eca;
  border-radius: 48px;
  height: 72px;
  width: 72px;
  font-size: 36px;
  color: #ffff;
  line-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}
